
        body {
            background-color: rgb(39, 26, 26);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .curso {
            text-align: center;
            padding-top: 10%;
        }

        h1 {
            font-size: 25px;
            color: white;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: aqua;
        }  